
/* Estilos General */
body
	background-color #f7f7ef

html, body 
	position fixed !important
    overflow-y scroll

/*.gen-container
	min-height 600px*/

.content-view
	position absolute
	background-color #f7f7ef
	width 1024px
	left 0
	right 0
	top 80px
	margin auto
	height 580px
	
@media(min-width:1500px)
	.content-view
		top 200px !important


.tour-c
	height 600px
	position relative


.content-home
	position absolute
	background-color #f7f7ef
	width 1024px
	left 0
	right 0
	top 50%
	margin auto
	height 450px

.tour-home
	height 420px
	position relative
	top -50%

/* Estilos Home */
.header-info *
	text-align center

.header-info h1
	color #137e7a
	font-size 55px

.header-info p
	font-size 19px
	padding-top 0.5em


.tour-options
	margin-top 2em
	position relative
	height 100px
	overflow hidden

.tour-expl, .tour-start
	position absolute
	height 100px
	
.expl-option
	width 100%
	height 100%
	background url("../../assets/images/resources.png") -98px -162px
	position absolute

.tour-option
	width 100%
	height 100%
	background url("../../assets/images/resources.png") -101px -426px
	position absolute

.tour-start
	right -266px
	width 850px

.tour-expl
	left -270px
	width 850px

.expl-text-container, .start-text-container
	position relative
	width 100%
	height 100%

.expl-text-container h2, .start-text-container h2
	color #fff
	font-weight 400
	text-align center
	margin-top 1.1em

.expl-left-decorator
	background url("../../assets/images/resources.png") 2px -294px
	height 103px
	width 207px
	position absolute
	left 0
	top 0
	opacity 0

.expl-right-decorator
	background url("../../assets/images/resources.png") -819px -294px
	height 103px
	width 208px
	position absolute
	right 0
	top 0
	opacity 0	
	
.start-left-decorator
	background url("../../assets/images/resources.png") 0 -564px
	height 103px
	width 207px
	position absolute
	left 0
	top 0
	opacity 0	
	
.start-right-decorator
	background url("../../assets/images/resources.png") -824px -563px
	height 103px
	width 208px
	position absolute
	right 0
	top 0
	opacity 0	
	
	
	
/* Estilos Department */
.background
	fill transparent
	
rect.background
	stroke-width 0;

.depto-container .breadcrump
	background url("../../assets/images/resources.png") -330px 1666px
	width 260px
	height 40px

a
	text-decoration none

a:hover
	text-decoration none

.breadcrump
	position absolute
	width 100%
	height 40px
	top 1px
	left -5px
	z-index 10
	
.breadcrump-decorator
	position absolute
	background url("../../assets/images/resources.png") -231px -626px
	width 69px
	height 40px

.breadcrump-right-decorator
	position	 absolute
	background url("../../assets/images/resources.png") -343px -630px
	left 39px
	height 33px
	width 216px
	top 4px
	

.breadcrump-data
	position relative
	width 100%
	height 100%

.breadcrump-data h4
	color #fff
	padding 0
	margin 0

.breadcrump-data a:first-child
	position absolute
	top 15px
	left 10px

.breadcrump-data a:first-child > h4
	font-size 15px
	font-weight 300

.breadcrump-data a:nth-child(2)
	position absolute
	top 11px
	left 82px

.breadcrumo-container
	position relative

.breadcrump-data a:nth-child(2) > h4
	font-size 18px
	font-weight 400

.depto-gen
	min-height 600px 

.dept-view 
	position relative
	width 100%
	height 100%
	min-height 600px


.top-info
	position absolute
	top 40px
	left 23px

.top-info p
	text-align center
	font-size 17px
	width 215px

.depto-info
	position absolute
	top 20px
	height 200px
	width 100%
	text-align center
	
.depto-label
	font-weight 500

.depto-name
	font-weight 300

#map
	position absolute
	margin auto
	left 0
	right 0
	
.prot-note	
	position absolute
	top 80%
	font-weight 300



/*Modal de colaboradores*/
.modal-collaborators
	display flex
	justify-content space-between
	align-items baseline
	margin-top 2em

.col-daniel
	background url("../../assets/images/resources.png") -524px -2421px
	border-radius 8px
	width 178px
	height 256px

.col-medina
	background url("../../assets/images/resources.png") -38px -2129px
	border-radius 8px
	width 178px
	height 256px

.col-pablo
	background url("../../assets/images/resources.png") -40px -2423px
	border-radius 8px
	width 178px
	height 256px
	
.col-gustavo
	background url("../../assets/images/resources.png") -280px -2116px
	border-radius 8px 
	width 178px
	height 266px

.col-juan
	background url("../../assets/images/resources.png") -521px -2117px
	border-radius 8px 
	width 178px
	height 266px

.col-nestor
	background url("../../assets/images/resources.png") -776px -2117px
	border-radius 8px 
	width 178px
	height 266px

.col-luis
	background url("../../assets/images/resources.png") -284px -2423px
	border-radius 8px 
	width 178px
	height 266px

.col-angie
	background url("../../assets/images/resources.png") -402px -2782px
	border-radius 8px 
	width 181px
	height 266px

.col-jairo
	background url("../../assets/images/resources.png") -609px -2783px
	border-radius 8px 
	width 181px
	height 266px

.col-luz
	background url("../../assets/images/resources.png") -824px -2783px
	border-radius 8px 
	width 183px
	height 266px

	
.coll-description
	font-size 13px
	max-width 177px
	
.coll-name
	margin-top 0.4em

.coll-left-btn
	background url("../../assets/images/resources.png") -763px -2431px
	position absolute
	height 44px
	left -67px
	width 46px
	top 33%
	
.coll-right-btn
	background url("../../assets/images/resources.png") -836px -2431px
	position absolute
	height 44px
	right -67px
	width 46px
	top 33%
	
	
	



	
	
	


	
