.sector-vis-container
	font 10px sans-serif
	width 70%
	height 550px
	position absolute
	left 0px
	top 10px
	
.sector-info-container
	position relative
	float right
	width 30%
	padding-left 45px
	.sector-info
		text-align right
	
	.ent-info
		h3
			font-weight 400
		h5
			font-weight 500
		
		strong
			font-weight 300