<div ng-controller="breadcrumpCtrl as bCtrl">
	<breadcrump label1 = "atrás" label2="Caldas" explanation="¿Qué ente territorial quieres investigar?" ng-click="bCtrl.previousView(2)"></breadcrump>
</div>

<div class="content-view">
	<div class="entities-container tour-c">
		
		<div class="ent-container">
			<a ng-click="terEntCtrl.goToGob()">
				<div href="#" class="ent-3"></div>
				<h4>Gobernación</h4>
			</a>
			
			<a href="alcaldias" target="_blank">
				<div class="ent-1"></div>
				<h4>Alcaldías</h4>
			</a>
			<a href="#">
				<div href="#" class="ent-2"></div>
				<h4>Territorios Indígenas</h4>
			</a>
			
		</div>
			
		
	</div>
</div>