<div class="content-home home-page">
	<section class="home-container tour-home">
		<div class="col-md-12 header-info">
			<h1>
				Seguimiento Ciudadano
			</h1>
			<p>Herramienta de control ciudadano para hacer seguimiento<br> a la ejecución presupuestal en entes territoriales</p>
		</div>

		<div class="col-md-12 tour-options">

			<div class="expl-left-decorator"></div>
			<div class="expl-right-decorator"></div>

			<div class="start-left-decorator"></div>
			<div class="start-right-decorator"></div>

			<a class="tour-expl" ng-click="homeCtrl.getTourExplanation()">
				<div class="expl-option">
					<div class="expl-text-container">
						<h2>Explicación</h2>
					</div>
				</div>
			</a> <a class="tour-start" ng-click="homeCtrl.getTourStart()">
				<div class="tour-option">
					<div class="start-text-container">
						<h2>Iniciar</h2>
					</div>
				</div>
			</a>

		</div>
		<div class="col-md-12 h-instruction">Selecciona una opción</div>
		
		
		<a class="colaborators" ng-click="homeCtrl.showCollaborators()">Colaboradores</a>

	</section>
	
</div>
