@import "components/home.styl"
@import "components/territorialEntity.styl"
@import "components/explanations.styl"
@import "components/program.styl"
@import "components/project.styl"
@import "components/sectors.styl"
@import "components/subprogram.styl"
@import "components/contract.styl"